.öppet-tider {
  text-align: center;
}

.opening {
  text-align: center;
  margin-bottom: 6%;
}

.logga img {
  position: sticky;
  top: 0;
  opacity: 0.8;
  width: 100vw;
  height: 40vh;
}

.öppet-hitta {
  margin: 1%;
  background: transparent;
}
#var {
  text-align: center;
}
#p {
  text-align: center;
  margin: 6px;
}

.google-maps {
  position: absolute;
  width: 600px;
  height: 450px;
  margin-left: 25%;
  border: 2px solid black;
  max-width: 50%;
}

iframe {
  border: 1px solid black;
}



