* {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.menu ul li {
  margin: 0 30px;
}

.menu a:hover {
  text-decoration: underline;
} 


#logo  {
  width: 50px;
  display: flex-box;

}

header {
  display: grid;
  padding: 11%;
  top: 0;
  background-image: url(foton/backround.jpg);
  background-size: 100%;
  opacity: 0.9;
}

/* h1 och h1 text kan man slå ihop */
h1 {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #f4f4f4;
  color: #000000;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.text h1 {
  color: #000000;
  text-align: center;
  display: grid;
  padding-bottom: 3%;
  margin-top: 3%;
}

.text p {
  color: #000000;
  font-size: 14px;
  text-align: center;
  display: grid;
  padding-bottom: 3%;
  padding-top: 3%;
}
.box1 p {
  font-size: 16px;
  text-align: center;
  display: grid;
  padding-bottom: 3%;
  color: #000000;
  padding-top: 3%;
}

.bold-text {
  font-weight: bold;
}


.box1 img {
  width: 100%;
  align-content: flex-start;
}
.text1 {
  width: 100%;
  text-align: center;
  align-content: center;
  display: block;
  padding-bottom: 3%;
  color: #000000;
}

/* box2 och box img kan läggas ihop?*/
.box2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.box2 img {
  width: 100%;
  height: 50vh;
  padding-top: 3%;
  max-width: 100%;
  align-content: flex-start;
} 


.box2 img:hover {
  transform: scale(1.5); /* Kan man få att bilden hovrar in mot sidan i stället för rakt ut, eftersom bilderna på sidorna gör att man inte ser hela bildern */
  transition: 0.4s;
}


.fordon ul {
  padding-top: 8%;
  width: 45%;
  float: left;
  margin-left: 5%;
  display: grid;
   /* Dela upp i 3 kolumner med lika stor bredd */
  grid-template-columns: repeat(
    2,
    1fr
  );
  grid-gap: 70px 20px;
  list-style: none;
}

/* TROR fordon li och fordon img kan läggas ihop */
.fordon li {
  float: left;
  width: 100%; /* Fyll ut hela utrymmet i sina respektive kolumner */
}
.fordon img {
  float: left;
  width: 100%; /* Fyll ut hela utrymmet i sina respektive kolumner */
  height: auto; /* Behåll bildens proportioner */
}

.fordon li:hover {
  transform: scale(1.9);
  transition: 0.3s;
}



/* Kan kan sätta ihop text2 och text2 p? */
.text2 {
  margin-right: 5%;
  padding-top: 7%;
  padding-bottom: 3%;
  display: grid;
  float: right;
  width: 40%;
  font-size: 14px;
  text-align: justify;
  color: #ffffff;
}

.text2 p {
  border: 1px solid #000000;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  background: #46464d;
  padding: 11%;
  color: #ffffff;
}


/* Kontaktsidan */

/* Vad stå a för i kontakt sidan? */
a {
  text-decoration: none;
  color: #241d1d;
  font-size: 15px;
  display: grid;
  align-self: center;
}

 .contactform {
    background-size: cover;
    margin-top: 5%;
    margin-left: 10%;
    float: left; /* Centrera horisontellt */
    height: 100vh; /* Hela höjden på visningsområdet */
    text-align: left; 
    width: 40%;
  }
  
  #contactpic img{
    box-shadow: #3d3b3b 5px 5px 5px 5px;
    border: 2px solid #3a3a3a;
    margin-top: 7%;
    border-radius: 20%;
    margin-right: 10%;
    float: right;
    width: 39%;
    height: 35%;
    max-width: 40%;
    align-content: flex-start;
    opacity: 0.9;
  }
  
  label,
  input,
  textarea {
    display: block; /* Göra elementen till block för att de ska staplas vertikalt */
    margin-bottom: 15px; /* Lägg till lite mellanrum mellan fälten */
    color: #000000;
    font-size: 12px;
    font-weight: 900;
    text-align: left;
  }
  
  input[type="text"],
  input[type="tel"],
  textarea {
    border: 2px solid #3a3a3a;
    width: 60%; 
    padding: 10px;
    background-color: #dedede;
  }
  
  input[type="submit"] {
    margin-top: 5%;
    background-color: #dedede;
    border: 2px solid #3a3a3a;
    color: rgb(0, 0, 0);
    width: 30%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
  }
  
  input[type="submit"]:hover {
    background-color: #606060;
  }


  /* Produkter*/
.clearfix {
 align-items: center;
}
 #articles{
    display: block;
    width: 860px;
    
}

#articles h2{
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
/*     background:  white;
 */    box-shadow: 0px 1px 0px #393d3f, 
    1px 2px 0px #393d3f,
    2px 3px 0px #393d3f,
    3px 4px 0px #393d3f;
    margin: 0px 220px;
     
}
li {
    list-style: inside none;
}
#articles article{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 30px;
    background: rgb(235, 235, 235);
    color: black;
    box-shadow: 1px 1px 2px #ddd;
}

#articles article h4{
    display: block;
    font-size: 23px;
    margin: 3px;
}

#articles  article h4 a{
    text-decoration: none;
  
}

#articles  article h4 a:hover{
    text-decoration: underline;
}

#articles .data{
    float: right;
    background: #393d3f;
    color: white;
    height: 20px;
    line-height: 20px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;

}

#articles .data span{
    margin: 6px;

}

#articles article p{
    margin-top: 10px;
    margin-bottom: 10px;

}


/* Hitta oss sidan */
.öppet-tider {
  text-align: center;
}

.opening {
  text-align: center;
}

.logga img {
  position: sticky;
  top: 0;
  opacity: 0.8;
  width: 100vw;
  height: 50vh;
}

.öppet-hitta {
  margin: 1%;
  background: transparent;
}
#var {
  text-align: center;
}
#p {
  text-align: center;
  margin: 6px;
}

.google-maps {
  text-align: center;
  margin-bottom: 5%;
}

iframe{
  border: 2px solid black;
  width: 600px;
  height: 450px;
}

input[type="submit"]:hover {
  background-color: #606060;
}

/* footer */
#kontakt{
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  height: 20vh;
  padding: 1%;
} 
#socialt{
  width: 50%;
  border-right: black 1px solid;
}
.ring-skriv-hitta{
  padding: 1%;
  margin-left: 15%;
}
.ring-skriv-hitta i span {
  font-family: 'Breilga', sans-serif;
}
.button-link {
  display: inline-block;
  padding: 2px 2px;
  border: 1px #3a3a3a solid;
  color: #606060; 
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s;
}
.button-link:hover {
  background-color: darkgray; 
  color: #fff; 
  text-decoration: none;
  font-size: 1.0em;
}

#sociala-medier{
  display: flex;
  width: 50%;
  gap: 10px;
  justify-content: center;
  text-align: center;  
}
#sociala-medier a {
  text-decoration: none; 
}
.my-icon {
  color: #000000; 
  transition: color 0.3s; 
  transition: transform 0.3s;
}
.my-icon:hover {
  color:gray; 
  transform: scale(1.3);
}


#navbar-burger {
  display: none;
}

 /* MediaQuary */

@media screen and (max-width:768){
#logo{
  display: none; /* Funkar ej */
}

}
@media screen and (max-width: 850px)
   {
    .contactform {
      margin-top: 20%;
      margin-left: 20%;
      width: 100%;
      max-width: 100%;
      justify-content:center;
      float: none;
    }
    #contactpic img{
      display: none;
    }
    input[type="submit"] {
      margin-top: 5%;
      max-width: 30%;
    }
    input[type="submit"]:hover {
      background-color: #939393;
    }
    label,
    input,
    textarea {
      font-size: 15px;
      font-weight: 900;
      padding: 3%;
    }

    .fordon{
      float: none;
      width: 100%;
    }

    .text2{
      float: none;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 10%;
    }

    .fordon ul {
      padding-top: 5%;
      width: 95%;
      float: none;
      display: grid;
      grid-template-columns: repeat(
        2,
        1fr
      );
    }
    
    .fordon li {
      float: none;
      display: flex;
      width: 100%; 
    }
    .fordon img {
      float: none;
      display: flex;
      width: 100%; /* Fyll ut hela utrymmet i sina respektive kolumner */
    }
    
    .fordon li:hover {
      transform: scale(1.9);
      transition: 0.3s;
    }
    
   }

   @media screen and (767px) {
    section {
      text-align: center;
      justify-content: center;
    }
    .logga {
      max-width: 100%;
    }
    .menu ul {
      display: flex;
      justify-content: space-around;
    }
  }
  @media screen and (1180px) {
    .google-maps {
      text-align: center;
      justify-content: center;
    }
  }
  iframe {
    align-items: center;
  }
  .logga {
    width: 100%;
    max-width: 100%;
  }


